html{
	background-image: url("images/office.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

h1{
	text-align: center;
	color: #FF0000;
	font-family: 'Verdana', sans-serif;
	border: 2px dotted blue;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	width: 250px;
	margin-bottom: 20px;
}

p{
	text-align: justify;
	font-style: italic;
	background-color: hsl(180, 40%, 50%);
	padding: 20px;
	border: 3px black;
	border-top-style: solid;
	border-right-style: dotted;
	border-bottom-style: double;
	border-left-style: dashed;
	width: 500px;
}
span{
	color: rgb(0,0,255);
	font-weight: bold;
	font-style: italic;
	margin: 0px 5px 0px 2px;
}
